
img[alt="kiosko_etapa2"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="kiosko_etapa7"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="kiosko_etapa4"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="kiosko_etapa8"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="kiosko_etapa9"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="kiosko_etapa10"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="app_etapa2"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="app_etapa3"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="app_etapa4"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="app_etapa5"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="app_etapa6"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="app_etapa9"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="app_etapa10"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="app_etapa11"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="app_etapa13"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="app_etapa15"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}